/* Contact.css */
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contact-form {
  width: 400px;
  padding: 30px;
  border: 1px solid #d6d6d6;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #343a40;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #495057;
  font-weight: bold;
}

input,
textarea,
button {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #ced4da;
  border-radius: 6px;
  background-color: #fff;
  color: #495057;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.confirmation-message {
  margin-top: 20px;
  padding: 15px;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  border-radius: 6px;
  color: #155724;
}
